@import "../../lib/reset.scss";
#cart{
    @include rect(320px,auto);
    @include border(2px 0 0 0,#0089dc);
    border-bottom:1px solid #e6e6e6;
    position:fixed;
    bottom:0;
    right:10px;
    
    z-index:999;
    header{
        background:#fafafa;
        @include rect(320px,40px);
    }
    .product{
        background:#fff;
        @include rect(320px,auto);
    }
    footer{
        background:#eee;
        @include rect(320px,50px);
        .footer_left{
           background-color:#2c2c2c;
            @include rect(60%,100%);
        }
        .footer_right{
            @include background-color(#e4e4e4);
            @include rect(40%,100%);
        }
    }
}
