@import "../../lib/reset.scss";
.rightBox{
    @include rect(4rem,100%);
    position:fixed;
    top:0;
    right:0;
  //right:0.16rem;
    right:-3.56rem;
    transition: 0.5s;
    transition-timing-function: linear;
    z-index:9999;
    padding:0 0.1rem;
    background:#fff;
    .box_left{
        @include rect(0.4rem,100%);
        padding:0 0.1rem;
        position:absolute;
        background:#504d53;
        left:0;
        color:#fff;
        font-size:0.16rem;
        text-align:center;
    }
    .cart{
        margin-top:1.4rem;
        cursor:pointer;
    }
    .goTop{
        margin-top:3rem;
        i{
            font-size:0.26rem;
            cursor:pointer;
        }
    }
}
